body {
    min-width: 320px;
    display: grid;
    grid-template-rows: auto auto auto;
    margin:0;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}